&-body {
    margin: app-spacing(6);
    background-image: url("../images/noise.png");
}

&-navigation {
    display: block;
    width: 100%;
    font-size: 1.3rem;
    max-width: 60ch;
    margin: auto;
    margin-top: 20vh;
    margin-bottom: app-spacing(4);

    a {
        position: relative;
        font-size: 0.6rem;
        letter-spacing: 2;
        text-transform: uppercase;
        text-decoration: none;
        color: currentColor;
        padding: app-spacing(1) 0;
        opacity: 0.65;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 2px;
            background: currentColor;
            opacity: 0;
            pointer-events: none;
            transition: .1s ease;
        }

        &:hover {
            opacity: 1;

            &::before {
                bottom: - app-spacing(1);
                opacity: 1;
            }
        }
    }
}

&-heading {
    font-size: 1.3rem;
    max-width: 60ch;
    margin: auto;
    margin-bottom: 20vh;
    
    h1 {
        font-size: 4rem;
    }
}

&-image {
    position: relative;
    display: block;
    width: 100%;
    max-width: 1500px;
    margin: auto;
    margin-bottom: 10vh;
    z-index: 5;
}

&-content {
    font-size: 1.3rem;
    max-width: 60ch;
    margin: auto;
    margin-bottom: 10vh;
    line-height: 1.5;
}

&-list {
    font-size: 1.3rem;
    max-width: 60ch;
    margin: auto;
    margin-bottom: 10vh;
    line-height: 1.5;

    &--quotes {
        li {
            &::before {
                content: "“";
                position: relative;
                display: block;
                font-family: "Georgia", "sans-serif";
                font-size: 5rem;
                z-index: 1;
                opacity: 1;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: currentColor;
                -webkit-text-fill-color: transparent;
                line-height: 70px;
                margin-top: app-spacing(6);
            }
        }
    }

    &--cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: app-spacing(6);
        list-style-type: none;

        @media only screen and (max-width: 600px) {
            display: flex;
            overflow-x: scroll;
            margin: 0 - app-spacing(6);
            padding: 0 app-spacing(6);
            margin-bottom: 10vh;

            li {
                display: block;
                margin-right: app-spacing(6);
                min-width: calc(100vw - 90px);
            }
        }

        li {
            position: relative;
            padding: app-spacing(5) app-spacing(8) app-spacing(8) app-spacing(8);
            font-size: 1.3rem;
            z-index: 0;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #2F3A3B;
                transform-origin: 100%;
                z-index: -1;
                opacity: 0.1;

                @media (prefers-color-scheme: dark) {
                    background-color: #E2EDEE;
                }
            }
        }
    }
}

&-side-by-side {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: app-spacing(10);
}

&-personas {
    &__item {
        position: relative;
        padding: 0!important;

        &__image {
            position: relative;
            display: block;
            width: 100%;
        }

        &__title {
            font-weight: bold;
            margin: app-spacing(6);
        }

        &__body {
            margin: app-spacing(6);
            margin-top: - app-spacing(3);
            opacity: 0.75;
            line-height: 1.5;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #2F3A3B;
            z-index: -1;
            opacity: 0.1;

            @media (prefers-color-scheme: dark) {
                background-color: #E2EDEE;
            }
        }
    }
}