&-body {
    margin: app-spacing(6);
}

&-navigation {
    display: block;
    width: 100%;
    font-size: 1.3rem;
    max-width: 60ch;
    margin: auto;
    margin-top: 20vh;
    margin-bottom: app-spacing(4);

    a {
        position: relative;
        font-size: 0.6rem;
        letter-spacing: 2;
        text-transform: uppercase;
        text-decoration: none;
        color: currentColor;
        padding: app-spacing(1) 0;
        opacity: .65;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 2px;
            background: currentColor;
            opacity: 0;
            pointer-events: none;
            transition: .1s ease;
        }

        &:hover {
            opacity: 1;

            &::before {
                bottom: - app-spacing(1);
                opacity: 1;
            }
        }
    }
}

&-heading {
    font-size: 1.3rem;
    max-width: 60ch;
    margin: auto;
    margin-bottom: 20vh;
    
    h1 {
        font-size: 4rem;
    }
}

&-image {
    position: relative;
    display: block;
    width: 100%;
    max-width: 1500px;
    margin: auto;
    margin-bottom: 10vh;
    z-index: 5;
}

&-content {
    font-size: 1.3rem;
    max-width: 60ch;
    margin: auto;
    margin-bottom: 10vh;
    line-height: 1.5;
}

&-list {
    font-size: 1.3rem;
    max-width: 60ch;
    margin: auto;
    margin-bottom: 10vh;
    line-height: 1.5;

    &--cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: app-spacing(10);
        list-style-type: none;
        transform: skewY(-2deg);

        li {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: app-spacing(10) app-spacing(6);
            font-size: 1.3rem;
            z-index: 0;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: - app-spacing(3);
                right: - app-spacing(3);
                bottom: 0;
                background-color: #2F3A3B;
                transform-origin: 100%;
                z-index: -1;
                opacity: 0.1;

                @media (prefers-color-scheme: dark) {
                    background-color: #E2EDEE;
                }
            }
        }
    }
}
