&-body {
    background-color: rgb(240, 240, 240);
    color: rgb(70, 70, 70);

    @media (prefers-color-scheme: dark) {
        background-color: rgb(20, 20, 20);
        color: rgb(200, 200, 200);
    }
}

&-heading {
    max-width: 80ch;
    margin: auto;
    margin-top: 20vh;
    margin-bottom: 5vh;

    h1 {
        font-size: 2rem;
    }
}

&-information {
    width: 100%;
    max-width: 80ch;
    margin: auto;
    margin-bottom: app-spacing(4);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: app-spacing(4);
    margin-bottom: 20vh;

    p {
        line-height: 1.66;
    }

    ul { 
        margin: 0; 
        padding: 0; 
        list-style-type: none;
        text-align: right;
        line-height: 1.66;
    }
}

&-portfolio {
    width: 100%;
    max-width: 80ch;
    margin: auto;
    margin-bottom: app-spacing(4);
    margin-bottom: 20vh;

    &__item {
        margin-bottom: app-spacing(6);

        &-images {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

            img {
                display: block;
                width: 100%;

                &:nth-of-type(2) {
                    filter: brightness(0.8) saturate(0.8);
                }

                &:nth-of-type(3) {
                    filter: brightness(0.6) saturate(0.6);
                }
            }
        }
    }
}
