&-body {
    background-color: rgb(240, 240, 240);
    color: rgb(70, 70, 70);

    @media (prefers-color-scheme: dark) {
        background-color: rgb(22, 25, 30);
        color: rgb(220, 220, 220);
    }
}

&-heading {
    max-width: 80ch;
    margin: auto;
    margin-bottom: 5vh;
    margin-top: 0;

    h1 {
        font-size: 3rem;
    }
}

&-information {
    width: 100%;
    max-width: 80ch;
    margin: auto;
    grid-gap: app-spacing(4);
    margin-bottom: 20vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 20vh;

    @media only screen and (max-width: 600px) {
        display: block;
    }

    p {
        font-size: 1.3rem;
        line-height: 1.66;
        opacity: 0.9;
    }

    ul { 
        margin: 0; 
        padding: 0; 
        list-style-type: none;
        line-height: 2;
        
        a {
            color: currentColor;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

&-portfolio {
    width: 100%;
    max-width: 80ch;
    margin: auto;
    margin-bottom: app-spacing(4);
    margin-bottom: 20vh;

    &__item {
        display: block;
        margin-bottom: 10vh;
        color: currentColor;
        text-decoration: none;

        &-images {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            pointer-events: none;
            
            @media only screen and (max-width: 600px) {
                grid-template-columns: 1fr;

                img:not(:first-of-type) {
                    display: none;
                }
            }

            img {
                display: block;
                width: 100%;
                margin-bottom: app-spacing(4);

                &:nth-of-type(2) {
                    filter: saturate(0.8);
                    opacity: 0.8;
                }

                &:nth-of-type(3) {
                    filter: saturate(0.6);
                    opacity: 0.6;
                }
            }
        }

        &-title {
            font-size: 2rem;
        }

        &-subtitle {
            font-size: 1rem;
            opacity: .7;
            margin-left: app-spacing(1);
        }

        &:hover {
            filter: brightness(1.2);

            .home-portfolio__item-title {
                text-decoration: underline;
            }
        }

        &:active {
            filter: brightness(0.8);
        }
    }
}
