&-body {
    background-color: #E2EDEE;
    color: #0b0c0c;

    @media (prefers-color-scheme: dark) {
        background-color: #152d38;
        color: #E2EDEE;
    }
}

&-gradient {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 1;
    mix-blend-mode: overlay;
    background: linear-gradient(45deg, transparent, #55b5e6, #914e97, transparent);
    animation: rotate 50s linear infinite;
    background-size: 400% 400%;
    opacity: 0.3;

    @media (prefers-color-scheme: dark) {
        mix-blend-mode: darken;
        opacity: 0.6!important;
    }

    &--invert {
        background: linear-gradient(135deg, transparent, #d65e70 40%, #487f9b 70%, transparent);
        background-size: 400% 400%;
        mix-blend-mode: screen;
    }
}

&-design-flow {
    position: relative;
    background: white;
    padding: app-spacing(10);
    margin-left: calc((env(safe-area-inset-left) + #{app-spacing(6)}) * -1);
    margin-right: calc((env(safe-area-inset-right) + #{app-spacing(6)}) * -1);
    box-shadow: $app-image-shadow;
    z-index: 1;

    @media only screen and (max-width: $app-mobile-width) {
        padding: app-spacing(3);
    }

    img {
        display: block;
        width: 100%;
        max-width: 2000px;
        margin: auto;
    }
}
