.app-body {
  margin: 30px;
}

.app-navigation {
  display: block;
  width: 100%;
  max-width: 80ch;
  margin: auto;
  margin-top: 20vh;
  margin-bottom: 20px;
}

.app-navigation a {
  position: relative;
  font-size: 0.6rem;
  letter-spacing: 2;
  text-transform: uppercase;
  text-decoration: none;
  color: currentColor;
  padding: 5px 0;
  opacity: .65;
}

.app-navigation a::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background: currentColor;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: .1s ease;
  transition: .1s ease;
}

.app-navigation a:hover {
  opacity: 1;
}

.app-navigation a:hover::before {
  bottom: -5px;
  opacity: 1;
}

.app-heading {
  max-width: 80ch;
  margin: auto;
  margin-bottom: 20vh;
}

.app-heading h1 {
  font-size: 4rem;
}

.app-image {
  display: block;
  width: 100%;
  max-width: 1500px;
  margin: auto;
  margin-bottom: 30px;
}

.app-content {
  max-width: 80ch;
  margin: auto;
  margin-bottom: 30px;
  line-height: 1.5;
}

.home-body {
  background-color: #f0f0f0;
  color: #464646;
}

@media (prefers-color-scheme: dark) {
  .home-body {
    background-color: #16191e;
    color: gainsboro;
  }
}

.home-heading {
  max-width: 80ch;
  margin: auto;
  margin-bottom: 5vh;
  margin-top: 0;
}

.home-heading h1 {
  font-size: 3rem;
}

.home-information {
  width: 100%;
  max-width: 80ch;
  margin: auto;
  grid-gap: 20px;
  margin-bottom: 20vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  margin-top: 20vh;
}

@media only screen and (max-width: 600px) {
  .home-information {
    display: block;
  }
}

.home-information p {
  font-size: 1.3rem;
  line-height: 1.66;
  opacity: 0.9;
}

.home-information ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 2;
}

.home-information ul a {
  color: currentColor;
  text-decoration: none;
}

.home-information ul a:hover {
  text-decoration: underline;
}

.home-portfolio {
  width: 100%;
  max-width: 80ch;
  margin: auto;
  margin-bottom: 20px;
  margin-bottom: 20vh;
}

.home-portfolio__item {
  display: block;
  margin-bottom: 10vh;
  color: currentColor;
  text-decoration: none;
}

.home-portfolio__item-images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  pointer-events: none;
}

@media only screen and (max-width: 600px) {
  .home-portfolio__item-images {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .home-portfolio__item-images img:not(:first-of-type) {
    display: none;
  }
}

.home-portfolio__item-images img {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.home-portfolio__item-images img:nth-of-type(2) {
  -webkit-filter: saturate(0.8);
          filter: saturate(0.8);
  opacity: 0.8;
}

.home-portfolio__item-images img:nth-of-type(3) {
  -webkit-filter: saturate(0.6);
          filter: saturate(0.6);
  opacity: 0.6;
}

.home-portfolio__item-title {
  font-size: 2rem;
}

.home-portfolio__item-subtitle {
  font-size: 1rem;
  opacity: .7;
  margin-left: 5px;
}

.home-portfolio__item:hover {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}

.home-portfolio__item:hover .home-portfolio__item-title {
  text-decoration: underline;
}

.home-portfolio__item:active {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.zara-body {
  background-color: #E2EDEE;
  color: #2F3A3B;
}

@media (prefers-color-scheme: dark) {
  .zara-body {
    background-color: #2F3A3B;
    color: #E2EDEE;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
/*# sourceMappingURL=styles.css.map */