@import 'functions';

.app {
    @import 'base';
}

.home {
    @import 'home';
}

.zara {
    @import 'zara';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 600;
}
