@import 'functions';

.app {
    @import 'app';
}

.home {
    @import 'home';
}

.zara {
    @import 'zara';
}

.pierogi {
    @import 'pierogi';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 700;
}

hr {
    appearance: none;
    display: block;
    border: none;
    height: 1px;
    background: transparent;
    margin-bottom: 20vh;
}