.app-body {
  margin: 30px;
  background-image: url("../images/noise.png");
}

.app-navigation {
  display: block;
  width: 100%;
  font-size: 1.3rem;
  max-width: 60ch;
  margin: auto;
  margin-top: 20vh;
  margin-bottom: 20px;
}

.app-navigation a {
  position: relative;
  font-size: 0.6rem;
  letter-spacing: 2;
  text-transform: uppercase;
  text-decoration: none;
  color: currentColor;
  padding: 5px 0;
  opacity: .65;
}

.app-navigation a::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background: currentColor;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: .1s ease;
  transition: .1s ease;
}

.app-navigation a:hover {
  opacity: 1;
}

.app-navigation a:hover::before {
  bottom: -5px;
  opacity: 1;
}

.app-heading {
  font-size: 1.3rem;
  max-width: 60ch;
  margin: auto;
  margin-bottom: 20vh;
}

.app-heading h1 {
  font-size: 4rem;
}

.app-image {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1500px;
  margin: auto;
  margin-bottom: 10vh;
  z-index: 5;
}

.app-content {
  font-size: 1.3rem;
  max-width: 60ch;
  margin: auto;
  margin-bottom: 10vh;
  line-height: 1.5;
}

.app-list {
  font-size: 1.3rem;
  max-width: 60ch;
  margin: auto;
  margin-bottom: 10vh;
  line-height: 1.5;
}

.app-list--cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  list-style-type: none;
  -webkit-transform: skewY(-2deg);
          transform: skewY(-2deg);
}

.app-list--cards li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 30px;
  font-size: 1.3rem;
  z-index: 0;
}

.app-list--cards li::after {
  content: "";
  position: absolute;
  top: 0;
  left: -15px;
  right: -15px;
  bottom: 0;
  background-color: #2F3A3B;
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
  z-index: -1;
  opacity: 0.1;
}

@media (prefers-color-scheme: dark) {
  .app-list--cards li::after {
    background-color: #E2EDEE;
  }
}

.home-body {
  background-color: #c7edff;
  color: #271414;
}

@media (prefers-color-scheme: dark) {
  .home-body {
    background-color: #141414;
    color: gainsboro;
  }
}

.home-gradient {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 1;
  mix-blend-mode: overlay;
  background: linear-gradient(45deg, #ff96a8, #ffb325);
  -webkit-animation: rotate 50s linear infinite;
          animation: rotate 50s linear infinite;
  background-size: 400% 400%;
}

@media (prefers-color-scheme: dark) {
  .home-gradient {
    mix-blend-mode: darken;
    opacity: 0.2 !important;
  }
}

.home-gradient--invert {
  background: linear-gradient(135deg, pink 45%, #ff6a00 60%, transparent);
  background-size: 400% 400%;
  mix-blend-mode: lighten;
  opacity: 0.5;
}

.home-container {
  display: block;
  font-size: 1.3rem;
  max-width: 60ch;
  margin: auto;
  margin-top: 20vh;
  margin-bottom: 20vh;
}

.home-landing {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  grid-gap: 100px;
  margin-bottom: 10vh;
}

.home-heading {
  margin-bottom: 5vh;
  margin-top: 0;
}

.home-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 1.3rem;
  max-width: 60ch;
  margin: auto;
  margin-bottom: 5vh;
}

.home-social li {
  list-style-type: none;
  padding: 0;
}

.home-social__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  border-radius: 100%;
  overflow: hidden;
  color: inherit;
  background: currentColor;
  -webkit-transition: 0.2s cubic-bezier(0.28, 0.84, 0.42, 1);
  transition: 0.2s cubic-bezier(0.28, 0.84, 0.42, 1);
}

.home-social__icon svg {
  width: 16px;
  height: 16px;
}

.home-social__icon svg * {
  fill: #c7edff;
}

@media (prefers-color-scheme: dark) {
  .home-social__icon svg * {
    fill: #141414;
  }
}

.home-social__icon:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.home-social__icon:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.home-content {
  font-size: 1.3rem;
  margin: auto;
  margin-bottom: 10vh;
  line-height: 1.5;
  margin-top: 15px;
  text-align: right;
}

.home-portfolio__item {
  display: block;
  margin-bottom: 10vh;
  color: currentColor;
  text-decoration: none;
}

.home-portfolio__item-images {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  pointer-events: none;
  z-index: 5;
}

@media only screen and (max-width: 600px) {
  .home-portfolio__item-images {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .home-portfolio__item-images img:not(:first-of-type) {
    display: none;
  }
}

.home-portfolio__item-images img {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.home-portfolio__item-images img:nth-of-type(2) {
  -webkit-filter: saturate(0.8);
          filter: saturate(0.8);
  opacity: 0.8;
}

.home-portfolio__item-images img:nth-of-type(3) {
  -webkit-filter: saturate(0.6);
          filter: saturate(0.6);
  opacity: 0.6;
}

.home-portfolio__item-title {
  font-size: 2rem;
}

.home-portfolio__item-subtitle {
  font-size: 1rem;
  opacity: .7;
  margin-left: 5px;
}

.home-portfolio__item:hover {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}

.home-portfolio__item:hover .home-portfolio__item-title {
  text-decoration: underline;
}

.home-portfolio__item:active {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.zara-body {
  background-color: #E2EDEE;
  color: #2F3A3B;
}

@media (prefers-color-scheme: dark) {
  .zara-body {
    background-color: #2F3A3B;
    color: #E2EDEE;
  }
}

.zara-gradient {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 1;
  mix-blend-mode: overlay;
  background: linear-gradient(45deg, transparent, #ff9f5b, #40e4d1, transparent);
  -webkit-animation: rotate 50s linear infinite;
          animation: rotate 50s linear infinite;
  background-size: 400% 400%;
}

@media (prefers-color-scheme: dark) {
  .zara-gradient {
    mix-blend-mode: darken;
    opacity: 0.2 !important;
  }
}

.zara-gradient--invert {
  background: linear-gradient(135deg, transparent, #40e4d1 45%, #ff6a00 60%, transparent);
  background-size: 400% 400%;
  mix-blend-mode: screen;
  opacity: 0.5;
}

@-webkit-keyframes rotate {
  0% {
    background-position: 0% 96%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 96%;
  }
}

@keyframes rotate {
  0% {
    background-position: 0% 96%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 96%;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
/*# sourceMappingURL=styles.css.map */